# Performance test results

Brief description of the used server (choose one): HTTP/2

Brief description of your computer: MacBook Pro M1 - MacOS Sonoma 14.1

### Retrieving todos

http_reqs: 512811
http_req_duration - median: 178µs 
http_req_duration - 99th percentile: 587µs


### Posting todos

http_reqs: 499788
http_req_duration - median: 179.66µs
http_req_duration - 99th percentile: 617µs